<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frizerski salon</title>
    {{ bootstrap.load_css() }}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Frizerski salon</a>
    <div class="navbar-nav">
      <a class="nav-link" href="{{ url_for('main.index') }}">Početna</a>
      <a class="nav-link" href="{{ url_for('main.usluge') }}">Usluge</a>
    </div>
  </div>
</nav>


    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    {{ bootstrap.load_js() }}
</body>
</html>
